body {
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
}

#controls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

#controls button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border-radius: 10px;
  border: none;
  background-color: #444;
  color: white;
  opacity: 0.8;
}
